.divStyle {
    font-weight: bold;
    color: #17a2b8;
    text-align: center;
}

.header {
    font-weight: bold;
    color: #17a2b8;
    font-size: 30px;
    padding: 15px 0;
}

.buttonStyle {
    background-color:#17a2b8;
}