<div class="container">
  <div class="cardBg">
    <div class="form-inline">
      <img src="../assets/user.svg" width="30" height="30" class="d-inline-block align-top img" alt="">
      <h4>Reset Password</h4>
    </div>
    <p>Enter your New password to reset, or use old password to <a href="/log-in" class="linkStyle">login</a>.</p>
    <form class="formStyle" (ngSubmit)="handleReset(resetForm)" #resetForm="ngForm">
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" required placeholder="Password" [(ngModel)]="resetForm.password"  #password="ngModel">
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                  <p *ngIf="password.errors?.required">New Password is required</p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Confirmation</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="confirmation" id="inputPassword3" required placeholder="Confirmation" [(ngModel)]="resetForm.confirmation" #confirmation="ngModel">
              <div [hidden]="confirmation.valid || confirmation.pristine" class="alert alert-danger">
                  <p *ngIf="confirmation.errors?.required">Confirmation is required</p>
              </div>
            </div>
          </div>
      <button [disabled]="!resetForm.valid" type="submit" class="btn btn-info btnStyle">Reset</button>
    </form>
  </div>
</div>