<form #userForm="ngForm" novalidate (ngSubmit)="submitComment(userForm)">
  <div class="card-header">Let everyone know how good (or bad) this discount is!</div>
  <div class="card-body">
    <h5>Rating: {{commentForm.rating}}</h5>
    <ngb-rating [(rate)]="commentForm.rating" name="rating" [(ngModel)]="commentForm.rating">
      <ng-template let-fill="fill">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
    
    <h5 class="margin">Comment Here:</h5>
    <div class="container">
      <textarea class="form-control" rows="3" [(ngModel)]="commentForm.comment" name="comment" required #comment="ngModel"></textarea>
      <span *ngIf="comment.pristine" class="badge badge-pill badge-warning">unchanged</span>
      <span *ngIf="comment.dirty" class="badge badge-pill badge-primary">changed</span>
      <span *ngIf="comment.valid" class="badge badge-pill badge-success">valid</span>
      <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">
          <p *ngIf="comment.errors?.required">Your comment is required.</p>
      </div>
      <button [disabled]="!userForm.valid" type="submit" class="btn btn-info float-right" style="margin: 20px 0">Submit</button>
    </div>
  </div>
</form>