<div class="container">
  <div class="cardBg">
    <div class="form-inline">
      <img src="../assets/user.svg" width="30" height="30" class="d-inline-block align-top img" alt="">
      <h4>Login</h4>
    </div>
    <p>Enter your details below to login, or <a href="/sign-up" class="linkStyle">sign up</a>.</p>
    <form class="formStyle" (ngSubmit)="handleLogin(loginForm)" #loginForm="ngForm">
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username" required placeholder="Username" [(ngModel)]="loginForm.username"  #username="ngModel">
              <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                  <p *ngIf="username.errors?.required">Username is required</p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" id="inputPassword3" required placeholder="Password" [(ngModel)]="loginForm.password" #password="ngModel">
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                  <p *ngIf="password.errors?.required">Password is required</p>
              </div>
            </div>
          </div>
      <h6><a routerLink='/email-form' class="linkStyle formStyle">Forgotten your password?<img width="20" height="20" class="d-inline-block align-top" src="../../assets/on.svg"/></a></h6>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-info btnStyle">Login</button>
    </form>
  </div>
</div>