<div class="container-fluid mainStyle">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" (click)="acc.toggle('toggle-1')">Users List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="acc.toggle('toggle-2');getDiscounts()">Discounts List</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Dashboard</h1>

      <section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <div class="text-muted">Something else</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </section>

      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-1">
        <ngb-panel id="toggle-1" title="Users List" *ngIf="users">
          <ng-template ngbPanelContent>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Username</th>
                  <th>Account Type</th>
                  <th>Email Address</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.accountType }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <img src="../assets/delete.svg" width="22" height="22" (click)="deleteUser(user.id)">
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-2" title="Discounts List" *ngIf="discounts">
          <ng-template ngbPanelContent>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Discount</th>
                  <th>Discount Type</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let discount of discounts">
                  <td>{{ discount.id }}</td>
                  <td>{{ discount.category }}</td>
                  <td>{{ discount.title }}</td>
                  <td>{{ discount.discount }}</td>
                  <td>{{ discount.title }}</td>
                  <td>2017-10-12</td>
                  <td>2017-11-12</td>
                  <td>
                    <img src="../assets/delete.svg" width="22" height="22">
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </main>
  </div>
</div>