<h1 class="header">Dashboard</h1>
<div class="container-fluid mainStyle">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" (click)="getUsersList()">Users List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="getDiscountsList()">Discounts List</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

      <div [hidden]="!showUser">
        <h2>Users List</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Username</th>
              <th>Account Type</th>
              <th>Email Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td>{{i+1}}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.accountType }}</td>
              <td>{{ user.email }}</td>
              <td>
                <img src="../assets/delete.svg" width="22" height="22" (click)="deleteUser(user.id, i)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div [hidden]="!showDiscount">
        <h2>Discounts List</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Category</th>
              <th>Title</th>
              <th>Discount</th>
              <th>Start</th>
              <th>End</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let discount of discounts; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ discount.category }}</td>
              <td>{{ discount.title }}</td>
              <td>{{ discount.discount }}</td>
              <td>{{ discount.start }}</td>
              <td>{{ discount.end }}</td>
              <td>
                <img src="../assets/delete.svg" width="22" height="22" (click)="deleteDiscount(discount.id, i)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>