<div class="container" style="margin-top:20px">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-12 col-md-8">
      <div class="card mb-3" *ngIf="discount">
        <img class="card-img-top" src="https://lorempixel.com/900/500?r=1" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{discount.title}}</h4>
          <h6>Price: {{discount.discount}}</h6>
          <p class="card-text">{{discount.description}}</p>
          <p class="card-text" *ngIf="(discount === 1)">
            <small class="text-muted">Valid Date: {{discount.start}} - {{discount.end}}</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start bgColor">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">Comments</p>
          </div>
        </a>
        <comment-list></comment-list>
        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngIf="(accountType === 'student')">
          <div class="d-flex w-100 justify-content-between">
            <button type="button" class="btn btn-info btn-sm" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              aria-controls="addCommentCollapse">
              Add Your Comment
            </button>
          </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start bgColor" *ngIf="canEdit">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">Edit Discount</p>
          </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngIf="canEdit">
          <div class="d-flex w-100 justify-content-between">
            <edit-modal></edit-modal>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="addCommentCollapse" [ngbCollapse]="isCollapsed">
    <div class="card">
      <comment-form></comment-form>
    </div>
  </div>
</div>