<div class="container" style="margin-top:20px">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-12 col-md-8">
      <div class="card mb-3" *ngIf="movies">
        <img class="card-img-top" src="https://lorempixel.com/900/500?r=1" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6>Price: $15</h6>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Valid Date: 13/08/2017 - 01/09/2017</small></p>
          <a href="#" class="btn btn-info">Go get 5% off</a>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Rate: 7</h5>
            <small>Date</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit. [content]</p>
          <small>User ID</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Rate: 8</h5>
            <small class="text-muted">Date</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit. [content]</p>
          <small class="text-muted">User ID</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Rate: 9</h5>
            <small class="text-muted">Date</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit. [content]</p>
          <small class="text-muted">User ID</small>
        </a>
      </div>
    </div>
  </div>
  <hr>
</div>