<div class="container" style="margin-top:20px">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-12 col-md-8">
      <div class="card mb-3" *ngIf="discount">
        <img class="card-img-top" src="https://lorempixel.com/900/500?r=1" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{discount.title}}</h4>
          <h6>Price: {{discount.discount}}</h6>
          <p class="card-text">{{discount.description}}</p>
          <p class="card-text">
            <small class="text-muted">Valid Date: {{discount.start}} - {{discount.end}}</small>
          </p>
          <a href="#" class="btn btn-info">Go get {{discount.discount}}</a>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start bgColor">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">Recently Comments</p>
          </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Rate: 7</h5>
            <small>Date</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit. [content]</p>
          <small>User ID</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <button type="button" class="btn btn-info btn-sm" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              aria-controls="addCommentCollapse">
              Add Your Comment
            </button>
          </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" [hidden]="!showEdit">
          <div class="d-flex w-100 justify-content-between">
            <edit-modal [hidden]="!showEdit"></edit-modal>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="addCommentCollapse" [ngbCollapse]="isCollapsed">
    <div class="card">
      <comment-form></comment-form>
    </div>
  </div>
</div>